body{
  background-color: #6bffbf;
  color:black;
}
h1{
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 3rem 0px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 5px;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: red;
  border-radius: 50%;
  padding: 50px 40px;
  border-width: 0;
  box-shadow: rgb(45 35 66 / 40%) 0 8px 10px, rgb(45 35 66 / 44%) 0 14px 0px 30px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  display: block;
  margin: 2rem auto;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
img{
  width: 100%;
  border-radius: 20px;
}
div{
  margin: 0px 5px;
}